extends layout

block content

  h1.text-center.text-info.page-header= 'View both PDF files and answer questions below.'


  // TODO : Create prev/next for each PDF
  div.container-fluid.center-block
    h3 PDF Page Navigation
    button#prev.btn-info.btn-sm Previous
    button#next.btn-info.btn-sm Next
    span &nbsp;Page: &nbsp;
      span#page_num
      span /
      span#page_count
    br
    br

  include scripts    


  .row
    .col-md-6
      h2 Simplied - S
      canvas#canvasNum1(style='border:1px solid black' height='633' width='720' name="S_PDF")
    .col-md-6
      h2 Unsimplified - U
      canvas#canvasNum2(style='border:1px solid black' height='633' width='720' name="U_PDF")

  br
  br
  br


  include form

  // Script to handle update form
  script(type="text/javascript").
    $("#update").click(function(event) {
      event.preventDefault();

      var radios = document.getElementsByName('printS');
      var checked = " ";
      for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
          // do whatever you want with the checked radio
          checked = radios[i].value;

          // only one radio can be logically checked, don't check the rest
          break;
        }
      }


      console.log('Checked Value : ' + checked)

      var pdf_name = document.getElementById('canvasNum1').getAttribute('name');
      var name = $("#name").val();
      var better_pdf = $("#betterPdf").val();
      var dataString = 'Name=' + name + '&PDF=' + pdf_name + '&Score=' + better_pdf + "&S_Print=" + checked;
      console.log(dataString);
      $.ajax({
        type:'POST',
        data: dataString,
        url: '/create',
        success: callback()
      });
    });

  // Script to handle PDF rendering
  // Script get the filenames from routes/index.js
  script(type='text/javascript').
    function getFilenames() {
      return $.ajax({
        type: 'GET',
        url: 'http://localhost:3000/read'
      });
    }

    getFilenames().done(callback);

    function callback(data) {
      var returned_filenames = !{data};
      console.dir(returned_filenames);
      var lenU = returned_filenames[0].length;
      var lenS = returned_filenames[1].length;

      // Increment value in the array index to show next pdf!
      var incrementValue = increment();
      if (incrementValue >= lenU || incrementValue >= lenS) {
        alert('Test is over! Thank you!');
      } else {
        // Get PDF name
        if (returned_filenames[0][incrementValue].match(/[^U_]\w+\.\w+/g)[0] === returned_filenames[1][incrementValue].match(/[^S_]\w+\.\w+/g)[0]){
          document.getElementById('canvasNum1').setAttribute('name', returned_filenames[0][incrementValue].match(/[^U_]\w+\.\w+/g));
          // alert('Looking at ' + document.getElementsByTagName('canvas')[0].getAttribute('name'));
        } else { alert('PDFs do not match!!!!\nPlease refresh browser.');}
        // Load PDF's
        // TODO : Change this based on version!
        loadPdf('canvasNum2', 'uploads/7-10-1620/' + returned_filenames[0][incrementValue]);
        loadPdf('canvasNum1', 'uploads/7-10-1620/' + returned_filenames[1][incrementValue]);
        
        // Scroll to top of page
        window.scrollTo(10,10);
      }
    }

  // Script to increment a number
  // Used inside getFilenames functions
  script(type="text/javascript").
    var increment = (function() {
      var n = -1;

      return function () {
        n += 1;
        return n;
      }
    }());

