doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div
            a.navbar-brand(href='/') PDF Viewer
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          div
            ul.nav.navbar-nav
              li
                a(href='/upload') Document Listing


    block content
